# Directories to ignore
thesis-omxspi-pipeline/
.claude/
.idea/
.venv/

# Configuration files to ignore
lseg-data.config.json

# Exclude ALL large data files (>10MB)
analysis_dataset/**/ptrees_final_dataset.csv
analysis_dataset/**/ptree_ready_data_full.csv
analysis_dataset/**/ptree_ready_data_sample.csv
analysis_dataset/**/finbas_market_data.csv
analysis_dataset/**/lseg_*.csv

# Keep only small result files
!analysis_dataset/**/ptree_factors.csv

#PTree files
PTree-2501

# Exclude all exe files and installers
*.exe
*.msi
*.dmg
